<!DOCTYPE html>
<html>
<head>
  <title>Fish.ly</title>
  <link rel="stylesheet" type="text/css" href="fish.css">
</head>
<body>
<header>
  <h1>FISH.LY</h1>
  <img src="http://dudye.com/wp-content/uploads/2010/11/Synchiropus-splendidus.jpg">
</header>
<div id="content">
<div class="wrapper">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>


  <div>
    <%= yield %>
  </div>
</div>
</div>
</body>
</html>