body {
    background-color:#f4f4f4;
    text-align: center;

}

header {
    background-color: #c5c5c5;  /* Dark Grey */
    text-align: center;
}

header img {
    width: 65%;
    height: 300px;
}

nav {
    background-color: #f4f4f4;  /* Light Grey */
    text-align: center
}

#content {
    background-color: white;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

footer {
    background-color: #f4f4f4;  /* Dark Grey */
}

.wrapper {
    margin-left: auto;
    margin-right: auto
}

#fish {
    background-color: yellow;
    width: 48%;
    float: right;
}

#welcome {
    text-align: center;
}

#users {
    background-color: red;
    width: 48%;
    float: left;
}

#logout {
    background-color: teal;
    width: 32%;
    height: 25%;
    float: right;
    font-size: 2.5em;
    margin-top: 10%
}
#register {
    top: 25%;
    bottom: 25%;
    text-align: center;
    background-color: deeppink;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

#login {
    top: 25%;
    bottom: 25%;
    text-align: center;
    background-color: deeppink;
    width: 85%;
    margin-right: auto;
    margin-left: auto;

}
#all_the_things {
    margin-right: auto;
    margin-left: auto;
    text-align: left;

}